{% extends 'base.html' %}

{% block content %}
<body>
    <h1 style="text-align: center;">Participation Token: Manage Activity</h1>
    <div id="wrapper">
    <div class="activity-config" id="centered-div" style="width: 50%; margin: 0 auto; text-align: center;">        
        <!-- Button trigger modal -->
        After the activity has finished and all tokens have been redeemed, you should close the activity!
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Close Activity
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do you really want to close the Activity?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="color:maroon">WARNING!: Closing the activity will expire and delete
                        all generated tokens and students won't be able to redeem them for this activity!
                    </p>
                    <p style="color:goldenrod">INFO: Grades from previously redeemed tokens will be preserved!</p>    
                </div>
                <div class="modal-footer">
                <form method="post" action="{{url_for('close_activity')}}">
                    <input type="submit" class="btn btn-danger" value="Close Activity">
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
            </div>
        </div>            
        <h2>Activity Configuration</h2>
    
        <p><b>Activity ID:</b>  {{curr_activity_id}}</p>
        <p><b>Maximum Points:</b> {{curr_max_score}}</p>
        <p><b>Points per Token:</b> {{curr_token_score}}</p>
        <p><b>URL to this Activity:</b> {{curr_activity_url}}</p>
        <h1>Generate Batch of Tokens</h1>
        <form method="post" id="generate_batch_form">
            <label for="num_tokens">Number of Tokens: </label>
            <!-- Number of tokens per batch limited to 105 (5 pages of tokens) -->
            <input type="number" id="num_tokens" name="num_tokens" 
                min="0" max="105" required>
            <br>
            <label for="days_until_expired">Days until expired: </label>
            <input type="number" id="days_until_expired" name="days_until_expired" required
                min="0" max="31">
            <br>
            <input type="submit" id="btnSubmit" value="Generate and Print Batch">
        </form>
        <div id='write_here'></div></body>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <div id="progress"></div>
    <script>
        function start_long_task() {
            // add task status elements 
            div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);
    
            // create a progress bar
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });

            //get form data
            var form = $('#generate_batch_form')[0];
            // Create an FormData object 
            var data = new FormData(form);
            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/longtask',
                data: data,
                processData: false,
                contentType: false,
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    clean_up_delay = request.getResponseHeader('Clean_up_delay_minutes');
                    update_progress(status_url, clean_up_delay, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }

        function update_progress(status_url, clean_up_delay, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $(status_div.childNodes[3]).text('Result: ' + data['result']);
                        // add download button for token batch PDF#
                        $( "#progress" ).after( '<div class="clean-up-info">Due to security reasons this download link will expire in about '+clean_up_delay + ' minutes </div>!' );
                        $( "#progress" ).after( '<a class="btn btn-primary" target="_blank" href="/uploads/'+data['result']+'">Download Batch :'+data['result']+'</a>' );
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                    }
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, clean_up_delay, nanobar, status_div);
                    }, 2000);
                }
            });
        }
    //$(function() {
        //    $('#start-bg-job').click(start_long_task);
        //});
        let form = document.getElementById("generate_batch_form");
        let num_tokens = document.getElementById("num_tokens").value;
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            start_long_task();
            document.getElementById('write_here').innerHTML="Your batch is being generated, this can take some time!";
        });
    </script>
        <h2>Manage Existing Batches</h2>
            <table>
                <tr>
                <th>Batch ID</th>
                <th>Expired By</th>
                <th>Status</th>
                <th>Actions</th>
                </tr>
                {% for batch in curr_batches %}
                <tr>
                    <td>{{ batch.batch_id }}</td>
                    <td>{{ batch.expired_by.strftime("%d/%m/%Y") }}</td>
                    <td>
{% if batch.expired %}
                        <p style="color:maroon">EXPIRED</p>
                    </td>
                    <td>
                        <form action="{{url_for('delete_batch')}}" method="post" id="delete_batch">
                            <input type="hidden" id="batch_id" name="batch_id"required value="{{batch.batch_id}}">
                            <input type="submit" class="btn btn-warning" id="btnSubmit" value="Delete">
                        </form>
                    </td>
{% else %}
                        <p style="color:darkgreen">ACTIVE</p>
                    </td>
                    <td>
                        <form action="{{url_for('expire_batch')}}" method="post" id="expire_batch">
                            <input type="hidden" id="batch_id" name="batch_id"required value="{{batch.batch_id}}">
                            <input type="submit" class="btn btn-danger" id="btnSubmit" value="Expire">
                        </form>
                    </td>
{% endif %}
                    
                </tr>
                {% endfor %}
            </table>
    </div>
    </div>
</body>
{% endblock %}