{% extends 'base.html' %}

{% block content %}
<body>
    <h1 style="text-align: center;">Participation Token: Manage Activity</h1>
    <div id="wrapper">
    <div class="activity-config" id="centered-div" style="width: 50%; margin: 0 auto; text-align: center;">
        <h2>Activity Configuration</h2>
    
        <p><b>Activity ID:</b>  {{curr_activity_id}}</p>
        <p><b>Maximum Points:</b> {{curr_max_score}}</p>
        <p><b>Points per Token:</b> {{curr_token_score}}</p>
        <p><b>URL to this Activity:</b> {{curr_activity_url}}</p>
        <h1>Generate Batch of Tokens</h1>
        <form method="post" id="generate_batch_form">
            <label for="num_tokens">Number of Tokens: </label>
            <input type="number" id="num_tokens" name="num_tokens" 
                min="0" max="21" required>
            <br>
            <label for="expiration_date">Number of Tokens: </label>
            <input type="datetime-local" id="expiration_date" name="expiration_date" required>
            <input type="hidden" id="timezone_offset" name="timezone_offset">
            <script>
                var dateControl = document.querySelector('#expiration_date');
                const d = new Date();
                const dateTimeLocalValue = (new Date(d.getTime() - d.getTimezoneOffset() * 60000).toISOString()).slice(0, -1);
                dateControl.value = dateTimeLocalValue;
                document.querySelector('#timezone_offset').value = d.getTimezoneOffset();

                //var dateControl = document.querySelector('input[type="datetime-local"]');
                //dateControl.value = '2017-06-01T08:30';
            </script>
            <br>
            <input type="submit" id="btnSubmit" value="Generate and Print Batch">
        </form>
        <div id='write_here'></div></body>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <div id="progress"></div>
    <script>
        function start_long_task() {
            // add task status elements 
            div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);
    
            // create a progress bar
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });

            //get form data
            var form = $('#generate_batch_form')[0];
            // Create an FormData object 
            var data = new FormData(form);
            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/longtask',
                data: data,
                processData: false,
                contentType: false,
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    clean_up_delay = request.getResponseHeader('Clean_up_delay_minutes');
                    update_progress(status_url, clean_up_delay, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }

        function update_progress(status_url, clean_up_delay, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $(status_div.childNodes[3]).text('Result: ' + data['result']);
                        // add download button for token batch PDF#
                        $( "#progress" ).after( '<div class="clean-up-info">Due to security reasons this download link will expire in about '+clean_up_delay + ' minutes </div>!' );
                        $( "#progress" ).after( '<a class="btn btn-primary" target="_blank" href="/uploads/'+data['result']+'">Download Batch :'+data['result']+'</a>' );
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                    }
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, clean_up_delay, nanobar, status_div);
                    }, 2000);
                }
            });
        }
    //$(function() {
        //    $('#start-bg-job').click(start_long_task);
        //});
        let form = document.getElementById("generate_batch_form");
        let num_tokens = document.getElementById("num_tokens").value;
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            start_long_task();
            document.getElementById('write_here').innerHTML="Your batch is being generated, this can take some time!";
        });
    </script>
        <h2>Manage Existing Batches</h2>
        TO-DO
            <table>
                <tr>
                <th>Batch ID</th>
                <th>Expired By</th>
                <th>Actions</th>
                </tr>
                {% for batch in curr_batches %}
                <tr>
                    <td>{{ batch.batch_id }}</td>
                    <td>{{ batch.expired_by.strftime("%d/%m/%Y, %H:%M:%S") }}</td>
                    <td><a href="/kommtnoch" class="btn btn-danger">Expire</a> </td>
                </tr>
                {% endfor %}
            </table>
    </div>
    </div>
</body>
{% endblock %}