{% extends 'base.html' %}

{% block content %}
{% if has_token %}
    {% if token_redeemed %}
    <h3 style="text-align: center;">Warning: Code has could not be redeemed!</h3>
    <h4 style="text-align: center;">Token: {{curr_token}}</h4>
    <p style="color:maroon"><b>WARNING!</b></p>
    Token has already been redeemed in the past! Please check your gradebook if your grade is correct!
    <br>
    If not please contact your professor or supervisor to resolve the issue!
    {% else %}
    <h3 style="text-align: center;">Code has been redeemed!</h3>
    <h4 style="text-align: center;">Token: {{curr_token}}</h4>
    <div id="content">
        <p>Please check your gradebook!</p>
        {% if has_token %}
        <p style="color:maroon"><b>WARNING!: Maximum score reached: reedeming more codes will not increase your grade any further!</b></p>
        {% endif %}
        <img src="{{ url_for('static', filename='dog_laptop.webp') }}" alt="Dog with Laptop">
    </div>
    {% endif %}
{% else %}
<h3 style="text-align: center;">Token could not be loaded!</h3>
<h4 style="text-align: center;">Code not passed via QR Code</h4>

<div id="content">
    <p>Please rescan QR code or enter manually:</p>
    <img src="{{ url_for('static', filename='dog_laptop.webp') }}" alt="Dog with Laptop">
</div>
{% endif %}

{% endblock %}

